<!-- style sheet for about me page -->
<link rel='stylesheet' href='/Content/about_page.css' />

<!-- about me page -->
<div class="about-section">
  <h1>About Me Page</h1>
  <p>Hi, I'm Pradyumna!</p>
</div>

<br>
<div class="row">
  <div class="column">
    <div class="card">
      <br>
      <img class="image" src="/Assets/images/profilePic.jpg" alt="Pradyumna">
      <br>
      <div class="container">
        <h2>Pradyumna Donekal</h2>
        <p class="title">Software Developer</p>
        <p>I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge
          set, as continuing to learn new languages and development techniques are important to me and the success of
          your organization.</p>
        <p>Email: praddonekal@gmail.com</p>
        <p>Resume: <a href="/Assets/files/Resume.pdf"  target="_blank" >Please click here</a></p>
        <p><a href="/contact" <button class="button">Contact Me</button></a></p>
      </div>
    </div>
  </div>
</div>