<!--Bottom Nav-->
<footer>
  <nav class="navbar bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved</h6>
  </nav>
</footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="/Scripts/app.js"></script>
  </body>
</html>