<!--linking style sheets for home page -->

<link rel='stylesheet' href='/Content/home_page.css' />

<!-- home page -->
<img  src="/Assets/images/city.jpg" alt="Me" width="100%" height="600">
<div >
    <h1 class="centered">Pradyumna Donekal</h1>
</div>
<div class="intro">
  <h1>Welcome!</h1>
  <br>
  <p><a class="btn btn-secondary" href="/about">Find out more about me »</a></p>
  <h5>Mission Statement:</h5>
  <h6>The mission to empower every person and every organization on the planet to achieve more.</h6>
</div>
