<!-- stylesheets for services page -->
<link rel='stylesheet' href='/Content/services_page.css' />

<!-- services page -->
<div class="services-section">
  <h2>SERVICES</h2>
  <p>WHAT I OFFER</p>
</div>
<div id="services" class="container-fluid text-center">
<br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
    <!-- uses fontawesome fonts -->
      <span class="fab fa-app-store-ios fa-7x logo-small"></span>
      <h4>IOS APP DEVELOPMENT</h4>
      <p>iOS apps developed using Objective-C or Swift programming language.</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-android fa-7x logo-small"></span>
      <h4>ANDROID APP DEVELOPMENT</h4>
      <p>Android apps primarily built using Java or Kotlin.</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-html5 fa-7x logo-small"></span>
      <h4>WEB DEVELOPMENT</h4>
      <p>Responsive webpages designed using HTML, CSS and JavaScript.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="fas fa-toolbox fa-7x logo-small"></span>
      <h4>ML & AI</h4>
      <p>Cutting-edge AI & ​ML development services and solutions to clients.</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-wifi fa-7x logo-small"></span>
      <h4>IOT</h4>
      <p>IoT development to connect and exchange data with other devices and systems over the Internet.</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-gamepad fa-7x logo-small"></span>
      <h4 style="color:#303030;">GAME DEVELOPMENT</h4>
      <p>Creating games and analyzing the design, development and release of the game using Unity.</p>
    </div>
  </div>
</div>
<br>